<h2>Admin menu</h2>

<div class="identity">Logged in as:</div>
<ul>
  <li><%= link_to 'Subjects', controller: 'subjects' %></li>
  <li><%= link_to 'Pages', controller: 'pages' %></li>
  <li><%= link_to 'Sections', controller: 'sections' %></li>
  <li><%= link_to 'Manage Admin Users' %></li>
  <li><%= link_to 'Logout', action: 'logout' %></li>
</ul>
